html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    max-width: calc(100% / 3 - 20px);
}

.wrap {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

.app {
    max-width: 1000px;
    padding: 40px 15px;
    margin: 0 auto;
}
