html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.app {
    max-width: 1000px;
    padding: 40px 15px;
    margin: 0 auto;
}

.wrap {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

.progress-bar {
    width: 500px;
    height: 20px;
    background-color: rgb(35, 138, 104);
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
}